pip-tools
gunicorn
sphinx
#ipdb
ipython
twine
simplekv
structlog
Jinja2
PyYAML
requests
# configure-fork
attrs
marshmallow
celery
PyStaticConfiguration

git+https://github.com/UbuhingaVizion/configure.git@develop
